<h1>Zendesk User Search</h1>

Welcome to the Zendesk user search interface! Please enter your search details.

<form class='search-form'>

  <div class="form-group">
    <label class='control-label' for='entity'>Entity</label>
    <select class='form-control' onchange={{action (mut entity) value="target.value"}}>
      {{#each entities as |e|}}
        <option value={{e}} selected={{eq entity e}}>{{e}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label class='control-label' for='field'>Field</label>
    {{input class='form-control' type="text" name='field' value=field}}
  </div>

  <div class="form-group">
    <label class='control-label' for='term'>Term</label>
    {{input class='form-control' type="text" name='term' value=term}}
  </div>

  <button class='btn btn-default' {{action "submitQuery"}}>Submit</button>

</form>

<div class='status-area'>
Status: {{status}}
</div>

<div class='status-area'>
  Current query:
  {{#if currentQuery}}
    Entity:{{currentQuery.entity}}
    Field:{{currentQuery.field}}
    Term:{{currentQuery.term}}
  {{else}}
    No current query
  {{/if}}
</div>

<div class='status-area'>
  Search results:
  {{search-result-display result=result field=field term=term}}
</div>

{{outlet}}
