<h1>Zendesk User Search</h1>

Welcome to the Zendesk user search interface! Please enter your search details.

<form class='search-form'>

  <div class="form-group">
    <label class='control-label' for='entity'>Entity</label>
    {{input class='form-control' type="text" name='entity' value=entity}}
  </div>

  <div class="form-group">
    <label class='control-label' for='field'>Field</label>
    {{input class='form-control' type="text" name='field' value=field}}
  </div>

  <div class="form-group">
    <label class='control-label' for='term'>Term</label>
    {{input class='form-control' type="text" name='term' value=term}}
  </div>

  <button class='btn btn-default' {{action "submitQuery"}}>Submit</button>

</form>

<div class='status-area'>
Status: {{status}}
</div>

<div class='status-area'>
Search results:
  <pre>
    {{result}}
  </pre>
</div>

{{outlet}}
