Please enter your search term:

{{input type="text" value=entity}}
{{input type="text" value=field}}
{{input type="text" value=term}}

<button {{action "submitQuery"}} >Submit</button>

{{result}}

{{outlet}}
